@if (label()) {
<label [for]="property()">
  {{ label() }}
</label>
}

<select base-input
  [id]="property()"
  [disabled]="isDisabled()"
  [value]="value()"
  (change)="handleChange($event)"
  (blur)="blur.emit($event)"
  (focus)="focus.emit($event)"
  [class.error]="error()"
  [class.success]="!error()"
>
  @if (placeholder()) {
  <option
    value=""
    [selected]="!value()"
  >
    {{ placeholder() }}
  </option>
  }

  @for (option of options(); track optionValue()(option)) {
  <option
    [value]="optionValue()(option)"
    [selected]="optionValue()(option) === value()"
  >
    {{ optionLabel()(option) }}
  </option>
  }
</select>
