<main-container>
  <div class="grid">
    <shortcut-button
      icon="pixelarticons/user.svg"
      label="Users"
      (click)="handleNavigation('/users')"
    />

    <shortcut-button
      icon="pixelarticons/notebook.svg"
      label="Types"
      (click)="handleNavigation('/document-types')"
    />

    <shortcut-button
      icon="pixelarticons/file-text.svg"
      label="Documents"
      (click)="handleNavigation('/documents')"
    />

    <shortcut-button
      icon="pixelarticons/list-box.svg"
      label="Attributes"
      (click)="handleNavigation('/attributes')"
    />

    <shortcut-button
      icon="pixelarticons/logout.svg"
      label="Logout"
      (click)="handleLogout()"
    />
  </div>

  <main>
    <router-outlet></router-outlet>
  </main>
</main-container>
