<main-container>
  <div class="grid">
    <shortcut-button
      icon="pixelarticons/user.svg"
      label="Users"
      (click)="handleNavigation('/app/users')"
    />

    <shortcut-button
      icon="pixelarticons/list-box.svg"
      label="Attributes"
      (click)="handleNavigation('/app/attributes')"
    />

    <shortcut-button
      icon="pixelarticons/notebook.svg"
      label="Types"
      (click)="handleNavigation('/app/document-types')"
    />

    <shortcut-button
      icon="pixelarticons/file-text.svg"
      label="Documents"
      (click)="handleNavigation('/app/documents')"
    />

    <shortcut-button
      icon="pixelarticons/logout.svg"
      label="Logout"
      (click)="handleLogout()"
    />
  </div>

  <main>
    <router-outlet></router-outlet>
  </main>
</main-container>
