<main-container>
  <div class="grid">
    <shortcut-button
      icon="pixelarticons/user.svg"
      label="Users"
      (click)="handleNavigation('/users')"
    />

    <shortcut-button
      icon="pixelarticons/notebook.svg"
      label="Types"
      (click)="handleNavigation('/types')"
    />

    <shortcut-button
      icon="pixelarticons/file-text.svg"
      label="Documents"
      (click)="handleNavigation('/documents')"
    />
  </div>

  <main>
    <router-outlet></router-outlet>
  </main>
</main-container>
