*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #008b8b;
  --color-secondary: #c0c0c0;
  --color-success: #008000;
  --color-warning: #808000;
  --color-error: #800000;

  --font-color-ghost: #747474;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
}