@use "./directives/primary-button/primary-button";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  font-family: monospace;
}

:root {
  --color-black: #111;

  --color-primary: #a6d075;
  --color-secondary: #e6ab75;
  --color-success: #008000;
  --color-warning: #808000;
  --color-error: #800000;
  --color-primary-background: #c1fbcb;

  --font-color-ghost: #747474;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
}